* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html, 
body {
  width: 100%;
  height: 100%;
  color: var(--grey);
}

main {
  background: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 5vh 90vh 5vh;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  
  }

.container {
  grid-column: 2/3;
  grid-row: 2/3;

  max-width: 28vw;
  height: 88vh;
}
.container {
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr .5fr 1fr .5fr 1fr;

  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

  position: relative;

  text-align: center;
}

.container .avatar {
  grid-row: 1/2;
  text-align: start;
}

.avatar span {
  position: absolute;
  z-index: 1;
  top: 24px;
}
.avatar span img {
  width: 80px;
  height: 80px;
}

.avatar a img {
  width: 129px;
  height: 148.8px;

  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.container .name-github {
  grid-row: 2/3;

  text-align: center;
}

.container a {
  color: lightgray;
  text-decoration: none;
  
  display: flex;
  gap: 0.30rem;
  justify-content: center;
  align-items: center;
}

.container p {
  grid-row: 3/4;
  font-size: 1rem;
}

.container ul {
  grid-row: 4/5;

  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
  list-style: none;
}

.container .languages {
  grid-row: 5/6;
}
.container .languages li img {
  max-width: 48px;
  max-height: 48px;
  margin-top: .5rem;
}

.badge {
  grid-column: 2/3;
  grid-row: 2/3;

  height: 100%;
  }
  .badge img {
    width: 34vw;
    height: 90vh;
  }
  footer {
    grid-column: 1/4;
    grid-row: 3/4;
    font-weight: normal;
  }

/* ==================== responsividade ==================== */
  @media (max-width: 1300px) {
    .badge img {
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 768px) {
    .container {
      max-width: 30vw;
      height: 90vh;
    }
    .badge {
      align-items: center;
      justify-items: center;
    }
    .badge img {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 570px) {
    main {
      background: url(./images/badge_02.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .badge img {
      opacity: 0;
    }
  }